

<nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-home-class">
    <div class="container-fluid" id="home-navbar">
      <a class="navbar-brand" href="">Hugo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/time">Time</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/matkul">Mata Kuliah</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/activity">Activity</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#footer">Contact</a>
              </li>
          </ul>

        </div>
    </div>

  </nav>
