<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List Matkul</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="body-table" style="padding: 7% 15%;">
  <h1 style="text-align: center;padding-bottom: 7%;" >List Mata Kuliah</h1>
  <table class="table table-hover table-lg ">
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Nama Matkul</th>
          <th scope="col">Dosen Pengajar</th>
          <th scope="col">Jumlah SKS</th>
          <th scope="col">Detail</th>
          <th scope="col">Delete</th>

        </tr>
      </thead>
      <tbody>
      {% for key in object %}
        <tr>
          <!-- <th scope="row">{{key.id}}</th> -->
          <td>{{key.nama_matkul}}</td>
          <td>{{key.dosen_pengajar}}</td>
          <td>{{key.jumlah_sks}}</td>
          <td><a style="text-decoration: none;" href="{% url 'detail' key.nama_matkul %}" key.id>detail</a></td>
          <td><a style="text-decoration: none;" href="{% url 'delete' key.nama_matkul %}" key.id>delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
  <div class="row">
  <div class="col-12">
      <form method="GET" action="/matkul">
      <button type="lihat-matkul" class="btn btn-success" >Isi Matkul</button>
      </form>
  </div>
  </div>
</body>
</html>



