

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../static/styles.css">


<body style="padding: 7% 15%; text-align: center;">
  <h3 style="color: red; padding-bottom:7% ">Mata Kuliah {{ temp.nama_matkul }} is deleted</h3>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Nama Matkul : {{ temp.nama_matkul }}</li>
  <li class="list-group-item">Dosen Pengajar :{{ temp.dosen_pengajar }}</li>
  <li class="list-group-item">Jumlah SKS :{{ temp.jumlah_sks }}</li>
  <li class="list-group-item">Deskripsi Matkul :{{temp.deskripsi_matkul }}</li>
  <li class="list-group-item">Tahun Ajaran :{{ temp.tahun_ajaran }}</li>
  <li class="list-group-item">Semester : {{ temp.semester }}</li>
  <li class="list-group-item">Ruang Kelas : {{ temp.ruang_kelas }}</li>
</ul>
<!-- 
<p class="delete-text">{{ temp.nama_matkul }} is deleted</p> -->
</div>
<div class="col-3">
  
    <form method="GET" action="/matkul/detail/">
    <button type="lihat-matkul" class="btn btn-success" >Kembali</button>
    </form>
</div>

</body>