<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../static/styles-matkul.css">

<body style="padding: 7% 15%; text-align: center;">
    <h1 style="padding-bottom:7% ">Mata Kuliah {{ object.nama_matkul }}</h1>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Nama Matkul : {{ object.nama_matkul }}</li>
    <li class="list-group-item">Dosen Pengajar :{{ object.dosen_pengajar }}</li>
    <li class="list-group-item">Jumlah SKS :{{ object.jumlah_sks }}</li>
    <li class="list-group-item">Deskripsi Matkul :{{ object.deskripsi_matkul }}</li>
    <li class="list-group-item">Tahun Ajaran :{{ object.tahun_ajaran }}</li>
    <li class="list-group-item">Semester : {{ object.semester }}</li>
    <li class="list-group-item">Ruang Kelas : {{ object.ruang_kelas }}</li>
  </ul>

  <h2 class="judul-tugas" style="padding-top:7% ;padding-bottom: 4%;">Tugas</h2>
   <p>Now : {{now}}</p>
  <table class="table table-sm table-light" style="text-align: center;margin-bottom: 10%;">
    <thead>
      <tr>
        <th scope="col">Deadline</th>
        <th scope="col">Tugas</th>
      </tr>
    </thead>
    <tbody>
      {% for tugaz in tugas_gte_deadline %}
      <tr class="bg-warning">
        <th scope="row">{{tugaz.deadline}}</th>
        <td>{{tugaz.tugas}}</td>
      </tr>
      {% endfor %}

      {% for tugaz in tugas_lt_deadline %}
      <tr class="bg-success">
        <th scope="row">{{tugaz.deadline}}</th>
        <td>{{tugaz.tugas}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

<div class="container buttons">
<div class="row">
  <div class="col-4">
      <form method="GET" action="/matkul/detail/">
      <button type="lihat-matkul" class="btn btn-success" >Kembali</button>
      </form>
  </div>
  <div class="col-4">
    
  </div>
  <div class="col-4">
    <form method="POST" action="{% url 'delete' object.nama_matkul %}">
      {% csrf_token %}
    <button type="lihat-matkul" class="btn btn-success" >Hapus</button>
    </form>
  </div>
</div>
</div>


</body>




