{% extends 'base2.html' %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% include 'navbar.html' %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <div class="row">
    <div class="col-9">
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  </div>
  <div class="col-3">
      <form method="GET" action="detail/">
      <button type="lihat-matkul" class="btn btn-success" >Lihat Matkul</button>
      </form>
  </div>
  </div>

{% endblock %}
