<style>
    .container-body {
    padding: 7% 15%;
    }
    .card-body {
        text-align: center;
        
    }
    .card-name {
        text-align: justify;
    }
    .card-button {
        margin-top: 10%;
    
    }

</style>

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body class="container-body">



  <nav class="navbar navbar-expand-lg fixed-top navbar-light ">
    <div class="container-fluid" id="s">
      <a class="navbar-brand" href="/">Hugo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/time">Time</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/matkul">Mata Kuliah</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/activity">Activity</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/#footer">Contact</a>
              </li>
          </ul>

        </div>
    </div>

  </nav>


 <form method="POST" action="{% url 'create_activity'%}">
  {% csrf_token %}
<button type="create" class="btn btn-primary card-button" >Create</button>
</form>
    <div class="row">
    {% for i in activities %}
        
        <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title">{{i}}</h5>
          <h6 class="card-name">nama</h6>
          {% for j in i.attendee_set.all %}
          <div class="row">
          <div class="col"><li class ='card-name'>{{j.nickname}}</li></div>
          <div class="col">
            <div class="float-right">
          <form method="POST" action="{% url 'delete' j.nickname %}">
            {% csrf_token %}
            <button class="tombol">&times;</button>
          </form>
        </div>
        </div>
          </div>

          {% endfor %}
          <form method="POST" action="{% url 'add_attendee' i %}">
            {% csrf_token %}
          <button type="join" class="btn btn-primary card-button" >Join kuy</button>
          </form>
          <!-- <a data-target="#form" class="btn btn-primary card-button">Join kuy</a> -->
        </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div id="form">
        {{form.as_p}}
    </div>

    </body>
</html>

