
{% load crispy_forms_tags %}

<style>
    .container-body {
        padding: 7% 15%;
    }
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabung kuy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="container-body">

    <h1>Nama kegiatan</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <ul>title : {{form.title}}</ul>
        <button type="submit" class="btn btn-success" >submit</button>
    </form>
    
</body>
</html>

