{% load crispy_forms_tags %}

<style>
    .container-body {
        padding: 7% 15%;
    }

    .baris {
        padding-bottom: 5%;
    }
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabung kuy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="container-body">

    <h1>Join</h1>

    <form method="POST" >
        {% csrf_token %}

        <div class="row baris">
            <div class="col-12">
                Nickname : {{form.nickname}}
            </div>
        </div>
        <div class="row baris">
            <div class="col-12">
               Fullname : {{form.fullname}}
            </div>
        </div>
        <div class="row baris">
            <div class="col-12">
               id_line : {{form.id_line}}
            </div>
        </div>
<div class="row">
    <div class="col-6">
        <button type="submit" class="btn btn-success" >submit</button>
    </form>
</div>

    <div class="col-6">
        <form action="/activity/">
            <button class="btn btn-success">kembali</button>
        </form>
    </div>
</div>
</body>
</html>
