{% load static %}


<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>About Me</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles-about.css">

  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>

  <section id="title">

    <div class="container-fluid" >
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" href="/">Hugo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/time">Time</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/matkul">Mata Kuliah</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/activity">Activity</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#footer">Contact</a>
              </li>
          </ul>

      </div>

  </nav>

<!-- Head  -->

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6" >
      <h1 id="head-text" style="padding-top: 0%;font-size: 6vw;" >Hi! I’m Hugo.
        I like to learn new things.</h1>
      
      <!-- Button trigger modal -->
      <button style="margin:0.4em auto;" type="button" id="activities-button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        See my activities
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Here is my lastest activities</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="../static/images/friends-wedding.jpg" alt="Third slide">
                    <p>9 February 2020, me and my mom went to my friends's son wedding</p>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../static/images/with-my-friends.jpg" alt="Second slide">
                    <p>30 January 2020, me and my friends went to Kintan-Buffet immediately just to get a student promo</p>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../static/images/grandma-birthday.jpg" alt="First slide">
                    <p>26 January 2020, I visited my grandma's house to celebrate her 84th birthday</p>
                  </div>


                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-6">
      <picture>
      <img class="head-image" style="margin-left: 0%; padding-bottom: 5%;" src="../static/images/hugo_camp.jpg" alt="">
      </picture>
    </div>
  </div>

</div>
  </section>


  <!-- Description -->

  <section id="description">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12" >
        <img class="rounded-circle img-fasilkom" style="min-height:20vh;" src="../static/images/fasilkom_ui.jpg" alt="">
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 description-text">
        <h2>Who Am I</h2>
        <p style="font-size: x-large;">I’m a Computer Science student at University of Indonesia. Right now, I’m in my first year college, still trying to adapt with the all new courses in my faculty, but lucky me, I got a good friends that support me well. My focuses now is on Machine Learning escpecially on Deep Learning yet I still exploring other concentration areas of computer science.</p>
      </div>
    </div>

  </section>

  <section id="hobbies">
    <div class="hobbies-title">
      <h2>Here is my hobbies</h2>
    </div>
    <div class="hobbies-text"> 

    </div>

    <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class=" embed-responsive embed-responsive-4by3 hobbies-videos ">
            <video controls class="embed-responsive-item hobbies-videos" src="../static/videos/karaoke_with_friends.mp4"></video>
          </div>
          <p>This is me sang together with my good friends.</p>
        </div>
        <div class="carousel-item">
          <div class=" embed-responsive embed-responsive-4by3 hobbies-videos">
            <video controls class="embed-responsive-item" src="../static/videos/hugo_berenang.mp4"></video>
          </div>
          <p>Me on 2017, recorded my amateur breaststroke move.</p>
        </div>
        <div class="carousel-item">
          <div class=" embed-responsive embed-responsive-4by3 hobbies-videos">
            <video controls class="embed-responsive-item" src="../static/videos/hugo_breakdance.mp4"></video>
          </div>
          <p>Me trying to do a simple windmill on friend’s 17th birthday party.</p>
        </div>
      </div>
      <a class="carousel-control-prev wkw" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section> 




  <section id="feedback">
  <h2 class="feedback-title">Feedback</h2>

  <form>
    <div class="form-group row">
      <label for="inputname3" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="name" class="form-control" id="inputname3" placeholder="Name">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>

    <div class="form-group">
      <label for="FormControlTextarea1">Comments</label>
      <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

    
  </form>
</section>

<footer id="footer">
  <a href="https://www.facebook.com/profile.php?id=100008717070578"><i class="social-icon fab fa-facebook-square"></i></a>
  <a href="https://www.linkedin.com/in/hugo-irwanto-bba220195/?originalSubdomain=id"><i class="social-icon fab fa-linkedin"></i></a>
  <a href="https://www.instagram.com/hugoirrr/?hl=id"><i class="social-icon fab fa-instagram"></i></a>
  <p>© Copyright 2020 Hugo Irwanto</p>

</footer>


</body>

</html>