

#title {
    background-color: #f5f4ed;
}


h1 {
    font-family: "Odibee Sans";
    font-size: 4rem;
    line-height: 1.5;
}

h2 {
    font-family: "Odibee Sans";
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 2.5% 15%;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
}

.navbar {
    padding:0 0 4.5rem;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    font-family: 'Montserrat-Light';
    font-size: 1.2rem;
}

/* head */

#head-text {
    padding-top: 20%;
    
}

#activities-button {
    margin-bottom: 10%;
}

.head-image {
    width: 90%;
    /* margin-left: 9%; */
}

/* Description */

#description {
    padding: 7% 15% 15% 15% ;
    
}

.rounded-circle {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    
}

.description-text {

    font-family: "PT Sans";

}

#hobbies {
    background-color: rgba(245, 175, 145, 0.34);
    padding: 5% 25%;
    
}

.hobbies-title {
    text-align: center;
    padding-bottom: 5%;
}

.hobbies-videos {
    margin: auto;
    width: 100%;
    
}

/* feedback section */

#feedback {
    padding: 7% 15%;
}

.feedback-title {
    text-align: center;
    padding-bottom: 5%;
}

/* footer section */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}












/* Home Section */

body {
    margin-right: 0%;
}

.img-container {
    
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/home-background.jpg");
    background-size:cover;
    position: relative;
    height: 720px;
    max-width: 100%;
    background-size: 100% 100%;

    
    
}

.text {
    background-color: rgba(255,255,255,1);
    color: black;
    font-size: 6vw;
    font-weight: bold;
    font-family: "Bebas Neue",cursive;
    margin: 0 auto;
    padding: 10px;
    width: 35%;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    
}

#home-navbar {
    padding: 0;
    
}

.navbar-home-class {
    position: absolute;
    padding: 0.75% 7% 0 7%;
    background-color: rgba(0, 0, 0, 0.288);
}

#experience {
    padding: 7% 14%;
}

.experience-images {
    padding-top: 5%;
}

#fasilkom-image {
    padding-top: 6%;
    
}

#noah-image {
    padding-top: 1%;
}

#olim-image {
    padding-top: 12%;
}

#fmipa-image {
    padding-top: 0%;
}

.experience-title {
    text-align: center;
    padding-bottom: 8%;
    
    
}

.experience-text {
    font-family: "PT Sans";
    text-align: justify;
    /* padding-right: 15%; */
    padding-top: 0%;
    padding-bottom: 15%;
}

#tossaka-text {
    padding-top: 12%;
}

h5 {
    padding-top: 8%;
    font-weight: bold;
    font-family: "PT Sans";
}

h6 {
    font-family: "PT Sans-Bold";
    
}


/* blog section */

.blog-section {
    padding: 7% 15%;
}

.blog-title {
    text-align: center;

}


a:hover, a:visited, a:link, a:active {
    color: black;
    text-decoration: none;
}
