
table, th, td {
    border: 1px solid black;
  }
.body-table {
  padding: 7% 15%;
}

.p-xx {
    background-color: bisque;
}

.delete-text {
  color: red;
  background-color: rebeccapurple;
}

.buttons {
  padding-top: 10%;
}

.judul-tugas {
  padding-bottom: 10%;
}